* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: rgb(74, 130, 193);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 600px) {
        width: 100%;
        flex-direction: column;
     }


    h1 {
        font-size: 30px;
        line-height: 75px;
        padding-left: 10px;
    }
}

.header1 {
    width: 250px;
    background-color: rgb(54, 96, 144);
    height: 100%;

    @media (max-width: 600px) {
        width: 100%;
        text-align: center;
     }
}

.header2 {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.header3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.header-style {
    font-weight: 100;
}

.header_icon {
    padding: 0 10px;
}

.header_icon1 {
    font-size: 20px;
    padding: 0 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(229, 224, 224);
    
    aside {
        width: 260px;
        background-color: rgb(51, 51, 51);
        min-height: calc(100vh - 150px);
        flex-shrink: 0;


        @media (max-width: 600px) {
           display: none;
        }
   } 

}

.content_head {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.content_head1 {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.content_head_name {
    font-size: 20px;
}


img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.admin__1 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.online {
    margin-bottom: -15px;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50px;
}

    .online__text {
        padding-left: 20px;
    }

.admin__2 {
    padding: 0 10px;
    height: 50px;
    background-color: black;
    color: rgb(129, 133, 133);
    display: flex;
    align-items: center;
}

.admin__3 {
    padding-left: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;

    .name {
        padding-left: 30px;
    }
}

.adm {

    @media (max-width: 600px) {
        display: none;
     }
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;

    @media (max-width: 960px) {
        flex-direction: column;
     }
}

.content-form {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;

    @media (max-width: 960px) {
        flex-direction: column;
     }
}

.row {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (max-width: 960px) {
        flex-direction: column;
     }
}


.form_container {
    display: flex;
    width: 90%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    height: 270px;
    margin: 10px;
    background-color: #fdfdfd;
    border: 1px solid rgb(129, 133, 133);
}

.btn {
    background-color: rgb(54, 96, 144);
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    width: 100px;

    &_1 {
        width: 200px;
    }
  }


input[type=text], input[type=password] {
    padding: 10px;
    margin: 5px;
    width: 90%;
    display: inline-block;
    border: 1px solid rgb(129, 133, 133);;
    background: #f1f1f1;
  }

  h3, b {
    margin: 5px;
  }

  footer {
    background-color: white;
    color: rgb(65, 63, 63);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-weight: bold;
    
    &_style {
        color: rgb(74, 130, 193);
    }
}

.footer-style {
    color: rgb(74, 130, 193);
}

.position {
    position: relative;
}

.position1 {
    position: absolute;
    right: 40px;
    bottom: 10px;
}
